<!DOCTYPE html>

<div class="form-group">
  <label for="trabajadorSelect">Seleccione un trabajador:</label>
  <input class="form-control" id="trabajadorSelect" [(ngModel)]="selectedTrabajador" (input)="onInputChangeTrabajadores($event)" list="trabajadoresList">
  <datalist id="trabajadoresList">
    <option *ngFor="let trabajador of filteredTrabajadores" [value]="trabajador.nombre">
      {{ trabajador.nombre }}
    </option>
  </datalist>
</div>

<div class="form-group">
  <label for="proyectoSelect">Seleccione un proyecto:</label>
  <input class="form-control" id="proyectoSelect" [(ngModel)]="selectedProyecto" (input)="onInputChangeProyectos($event)" list="proyectosList">
  <datalist id="proyectosList">
    <option *ngFor="let proyecto of filteredProyectos" [value]="proyecto.id">
      {{ proyecto.id }}
    </option>
  </datalist>
</div>

<mat-form-field appearance="fill">
  <mat-label>Fecha</mat-label>
  <input matInput [matDatepicker]="picker" placeholder="Elige una fecha" [(ngModel)]="selectedFecha">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<div>
  <label for="horas">Horas trabajadas:</label>
  <br>
  <input type="number" id="horas" [(ngModel)]="horasTrabajadas" required>
</div>

<br>

<button (click)="guardarHoras()">Guardar</button>   