<!DOCTYPE html>

<!-- app.component.html -->

<h1>Registro de Horas</h1>

<div class="contenedor">

<!-- Botones para mostrar/ocultar ventanas -->
  <div class="botones">
    <button (click)="mostrarComponente('ingresarHoras')">Ingresar Horas</button>
    <button (click)="mostrarComponente('resumenHoras')">Resumen de Horas</button>
    <button (click)="mostrarComponente('controlAdministrador')">Administrador</button>
  </div>

  <!-- Ventana para ingresar horas -->
  <div class="ventana" *ngIf="componenteVisible === 'ingresarHoras'">
    <app-ingresar-horas></app-ingresar-horas>
  </div>

  <!-- Ventana para mostrar resumen de horas -->
  <div class="ventana" *ngIf="componenteVisible === 'resumenHoras'">
    <app-resumen-horas></app-resumen-horas>
  </div>

  <!-- Ventana para realizar acciones de administrador -->
  <div class="ventana" *ngIf="componenteVisible === 'controlAdministrador'">
    <app-control-administrador></app-control-administrador>
  </div>
</div>